# --
# AgentProcessTicketSelection.tt - provides HTML form for process ticket selection
# Copyright (C) 2010-2025 OFORK, https://o-fork.de
# --
# $Id: AgentProcessTicketSelection.tt,v 1.2 2016/11/20 19:32:27 ud Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox ARIARoleMain FormScreen">

    <h1>[% Translate("Create new process ticket") | html %]</h1>

    <div class="LayoutFixedSidebar SidebarLast">

        <div class="SidebarColumn">
            <div id="CustomerInfo" class="">
                <div class="">
                    <h2></h2>
                </div>
                <div class="Content">
                </div>
            </div>
        </div>

        <div class="ContentColumn">
	        <form action="[% Env("CGIHandle") %]" method="post" name="compose" enctype="multipart/form-data" class="Validate PreventMultipleSubmits">
	            <input type="hidden" name="Action" value="[% Env("Action") %]" />
	            <input type="hidden" name="Subaction" value="StoreNew" />
	            <input type="hidden" name="FormID" value="[% Data.FormID | html %]" />
		        <input type="hidden" name="TicketID" value="[% Data.TicketID | html %]" />
	
	            <fieldset class="TableLike">

[% RenderBlockStart("Processes") %]
                    <label for="ID">[% Translate("Process") | html %]:</label>
                    <div class="Field">
                        [% Data.ProcessesStrg %]
                    </div>
                    <div class="Clear"></div>
[% RenderBlockEnd("Processes") %]

                    <div class="Field SpacingTop">
                        <button class="Primary CallForAction" id="submitRichText" accesskey="g" title="[% Translate("Create") | html %] (g)" type="submit" value="[% Translate("Create") | html %]"><span><i class="fa fa-check-square-o"></i> [% Translate("Create") | html %]</span></button>
                    </div>

            	</fieldset>
        	</form>
    	</div>
    </div>
</div>
