# --
# Kernel/Output/HTML/Templates/Standard/Copyright.tt
# Modified version of the work:
# Copyright (C) 2010-2025 OFORK, https://o-fork.de
# based on the original work of:
# Copyright (C) 2001-2018 OTRS AG, http://otrs.com/
# --
# $Id: Copyright.tt,v 1.1.1.1 2018/07/16 14:49:06 ud Exp $
# ---
<!--                                                                           -->
<!--        OFORK: Copyright (C) 2010-2025 OFORK, https://o-fork.de/.          -->
<!--  GNU AFFERO General Public License: http://www.gnu.org/licenses/agpl.txt  -->
<!--                                                                           -->
