# --
# Kernel/Output/JavaScript/Templates/Standard/AjaxDnDUpload/AttachmentItem.html.tmpl
# Modified version of the work:
# Copyright (C) 2010-2024 OFORK, https://o-fork.de
# based on the original work of:
# Copyright (C) 2001-2018 OTRS AG, http://otrs.com/
# --
# $Id: AttachmentItem.html.tmpl,v 1.1.1.1 2018/07/16 14:49:06 ud Exp $
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<tr style="display: none;">
    <td class="Filename">{{ Filename }}</td>
    <td class="Filetype">{{ Filetype }}</td>
    <td class="Filesize">{{ Filesize }}</td>
    <td class="Center">
        <a href="#" data-file-id="{{ FileID }}" class="AttachmentDelete"><i class="fa fa-trash"></i></a>
    </td>
</tr>
